/* src/componentes/Entidades/Entidades.module.css */
/* Autor: Alessio Renan Aguirre Pimentel también conocido como Elazar Pimentel */


.container {
  padding: 2rem;
}

.cardLink {
  text-decoration: none;
  color: inherit;
}

.card {
  background-color: var(--color-gray);
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  transition: background-color 0.3s ease;
}

.card:hover {
  background-color: #E0E0E0; /* Slightly darker gray */
}

.card h3 {
  margin: 0;
  font-size: 1.5rem;
  color: var(--color-primary-text);
}

.card p {
  margin: 0.5rem 0 0;
  color: var(--color-secondary-text);
}
