/* src/componentes/Entidades/Entidades.module.css */
/* Autor: Alessio Renan Aguirre Pimentel también conocido como Elazar Pimentel */

.pageContainer {
  padding: 2rem;
}

.filterContainer {
  margin-bottom: 2rem;
}

.filterSelect {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid var(--color-dark-blue);
  border-radius: 4px;
  background-color: var(--color-gray);
  color: var(--color-primary-text);
  min-width: 200px;
  cursor: pointer;
}

.filterSelect:focus {
  outline: none;
  border-color: var(--color-accent);
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.cardLink {
  text-decoration: none;
  color: inherit;
}

.card {
  background-color: var(--color-gray);
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  transition: background-color 0.3s ease;
  border: 1px solid var(--color-dark-blue);
  flex: 1 1 calc(33.333% - 2rem);
  box-sizing: border-box;
}

.card:hover {
  background-color: #E0E0E0;
  border-color: var(--color-accent);
}

.card h3 {
  margin: 0;
  font-size: 1.5rem;
  color: var(--color-primary-text);
}

.card p {
  margin: 0.5rem 0 0;
  color: var(--color-secondary-text);
}
