/* src/componentes/Entidades/EntidadDetalle.module.css */
/* Autor: Alessio Renan Aguirre Pimentel también conocido como Elazar Pimentel */

.container {
  padding: 2rem;
}

.vehiculosContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}

.card {
  background-color: var(--color-gray);
  border-radius: 8px;
  padding: 1rem;
  flex: 1 1 calc(25% - 2rem);
  box-sizing: border-box;
  transition: background-color 0.3s ease;
  border: 1px solid var(--color-dark-blue);
}

.card:hover {
  background-color: #E0E0E0;
  border-color: var(--color-accent);
}

.card h4 {
  margin: 0;
  font-size: 1.25rem;
  color: var(--color-primary-text);
}

.card p {
  margin: 0.5rem 0 0;
  color: var(--color-secondary-text);
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media (max-width: 480px) {
  .card {
    flex: 1 1 100%;
  }
}
