/* src/componentes/Entidades/EntidadDetalle.module.css */
/* Autor: Alessio Renan Aguirre Pimentel también conocido como Elazar Pimentel */

.container {
  padding: 2rem;
}

.vehiculosContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
}

.card {
  background-color: var(--color-gray);
  border-radius: 8px;
  padding: 1rem;
  width: 250px;
  transition: background-color 0.3s ease;
}

.card:hover {
  background-color: #E0E0E0;
}

.card h4 {
  margin: 0;
  font-size: 1.25rem;
  color: var(--color-primary-text);
}

.card p {
  margin: 0.5rem 0 0;
  color: var(--color-secondary-text);
}
