/* src/componentes/ErrorMessage/ErrorMessage.module.css */
/* Autor: Alessio Renan Aguirre Pimentel también conocido como Elazar Pimentel */

.errorContainer {
  background-color: var(--color-error);
  color: var(--color-light-text);
  padding: 1rem 1.5rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.icon {
  width: 24px;
  height: 24px;
  fill: var(--color-light-text);
  margin-right: 1rem;
}

.message {
  margin: 0;
  font-weight: 700;
  font-size: 1rem;
}
